name: Check hyperlinks
on:
  workflow_dispatch: {}
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: 'curl -LsSf https://astral.sh/uv/install.sh | sh

        uv sync --dev

        uv add pytest-check-links

        '
    - name: Check links
      env:
        CHECK_LINKS_TIMEOUT: '10'
      run: "source .venv/bin/activate\npytest --check-links ./ \\\n  --check-links-ignore\
        \ \"https://platform.openai.com/*\" \\\n  --check-links-ignore \"https://openai.com/*\"\
        \ \\\n  --check-links-ignore \"https://arena.lmsys.org\" \\\n  --check-links-ignore\
        \ \"https?://localhost(:\\\\d+)?/.*\" \\\n  --check-links-ignore \"https?://127[.]0[.]0[.]1(:\\\
        \\d+)?/.*\" \\\n  --check-links-ignore \"https://mng\\\\.bz/.*\" \\\n  --check-links-ignore\
        \ \"https://github\\\\.com/.*\" \\\n  --check-links-ignore \"https://unsloth.ai/blog/gradient\"\
        \ \\\n  --check-links-ignore \"https://www.reddit.com/r/*\" \\\n  --check-links-ignore\
        \ \"https://code.visualstudio.com/*\" \\\n  --check-links-ignore \"https://arxiv.org/*\"\
        \ \\\n  --check-links-ignore \"https://ai.stanford.edu/~amaas/data/sentiment/\"\
        \ \\\n  --check-links-ignore \"https://x.com/*\" \\\n  --check-links-ignore\
        \ \"https://scholar.google.com/*\"\n"
